@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

body {
  background: $darkviolet;
  display: grid;
  grid-template-columns: 210px 1fr;
  grid-template-rows: 100px 200px 200px 200px 200px 400px 200px 100px;

}
