@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}
body {
  background: $backgroud_color;
  color: black;
}
.logo{
  position: fixed;
}
.pageview{
  margin: 0px 0px 0px 186px;
}
.menu{
  position: fixed;
  margin: 180px 0px 0px 0px;
  &__text{
    list-style-type: none;
  }
  &__ahref{
    text-decoration: none;
    color: black;
  }
}
.about-me{
  justify-self: center;
  &__profile-img{
    border-radius: 30%;
    margin: 90px 0px 0px 40%;
  }
  &__title{
    font-size: 32px;
    margin: 0px 0px 0px 40%;
  }
  &__ahref{
    color: $ahref_color;
    text-decoration: none;
    font-weight: bold;
  }
}
.technology{
  &__skills{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
  }
  &__title{
    font-size: 32px;
    text-align: center;
    margin: 24px 0px 0px 0px;
  }
  &__name{
    flex: 1;
    font-size: 32px;
    margin: 16px;
    padding: 16px;
    text-align: center;
    color: black;
    background: $ahref_color;
    border-radius: 10%;
    list-style-type: none;
  }
}
.subpages{
  &__title{
    font-size: 32px;
    text-align: center;
    margin: 0px 0px 32px 0px;
  }
  &__box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
  }
}
.articles, .blog, .places{
  flex:1;
  max-width: 300px;
  min-width: 200px;
  padding: 8px;
  &__link{
    color: $ahref_color;
    text-decoration: none;
    font-weight: bold;
  }
  &__title{
    margin: 0px 0px 16px 0px;
  }
}
.body__footer{
  text-align: center;
  font-style: italic;
  padding: 16px 0px;
}
/*subpage artykuly.html css style*/
.article-view{
  padding: 0px 16px 0px 16px;
  &__header{
  font-size: 32px;
  text-align: center;
  }
  &__img{
    float: left;
    border-radius: 10%;
    padding: 0px 8px 8px 0px;
  }
  &__ul{
    list-style-type: none;
  }
  &__ahref{
    color: $ahref_color;
    text-decoration: none;
    font-weight: bold;
  }
}
.main__ahref{
  color: $ahref_color;
  text-decoration: none;
  font-weight: bold;
  padding: 0px 16px 0px 16px;
}
/*end subpage artykuly.html css style*/

@media(min-width: $tablet){
  .menu__switcher{
    display: none;
  }
}
@media(max-width: $tablet){
  .pageview{
    margin: 0px 0px 0px 0px;
  }
  .logo--visible{
    display: none;
  }
  .menu{
    margin: 0px;
    padding: 8px 8px 8px 8px;
    background: $backgroud_color;
    width: 100%;
    top: 0;
    &__text{
      padding: 0px;
    }
    &__text--visible{
      display:none;
    }
    &__switcher{
      display: block;
      top: 0;
    }
  }
  .about-me{
    &__profile-img--visible{
    display: none;
    }
    &__title{
      margin: 48px 0px 16px 0px;
      text-align: center;
    }
  }
  /*subpage artykuly.html css style*/
.article-view__header{
  margin: 32px 0px 16px 0px;
}
/*end subpage artykuly.html css style*/
}