@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}
body {
  background: rgb(202, 200, 201);
  color: black;
}
.logo{
  position: fixed;
}
.pageview{
  margin: 180px 0px 0px 180px;
}
.menu{
  position: fixed;
  margin: 180px 0px 0px 0px;
  &__text{
    list-style-type: none;
  }
  &__ahref{
    text-decoration: none;
    color: black;
  }
  &__switcher{
    display: none;
  }
}
.about-me{
  justify-self: center;
  &__profile-img{
    border-radius: 30%;
    margin-inline-start: 40%;
  }
  &__title{
    font-size: 32px;
    margin-inline-start: 40%;
  }
  &__ahref{
    color: rgb(255, 60, 0);
    text-decoration: none;
    font-weight: bold;
  }
}
.technology{
  &__skills{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__title{
    font-size: 32px;
    text-align: center;
  }
  &__name{
    flex: 1;
    font-size: 32px;
    margin: 16px;
    padding: 16px;
    text-align: center;
    color: black;
    background: rgb(255, 60, 0);
    border-radius: 10%;
    list-style-type: none;
  }
}
.subpages{
  &__title{
    font-size: 32px;
    text-align: center;
  }
  &__box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
  }
}
.articles, .blog, .places{
  flex:1;
  max-width: 300px;
  min-width: 200px;
  padding: 16px;
  &__link{
    color: rgb(255, 60, 0);
    text-decoration: none;
    font-weight: bold;
  }
}